<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>

<div>
  <h1>Hello, Meowifiers</h1>

  <a href="https://twitter.com/haubertdashery">Check back soon!</a>
</div>

<div class="videoWrapper">
  <iframe src="https://www.youtube.com/embed/J---aiyznGQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>